body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d1b7f3;
    margin: 0;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#task-input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#add-task-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #218838;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-completed {
    text-decoration: line-through;
    color: #6c757d;
}

footer {
    background-color: rgb(57, 55, 58);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position:absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
